<a href="https://colab.research.google.com/github/Tushar-rancy/Assignment_2_DSA/blob/main/Assignment_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Discuss string slicing and provide examples**

**Answer :** String slicing is getting the particular part of the string.

for Example - Vichar101
for the above string I want Vichar as separate string and 101 as separate, here I want to slice Vichar101 into Vichar and 101 into these 2 pieces.
So I will do string slicing in python as below;

In [ ]:
main_string = 'Vichar101'
slice_1 = main_string[0:6]
slice_2 = main_string[6:11]
print("Slice 1 of Vichar101 : ",slice_1)
print("Slice 2 of Vichar101 :",slice_2)

Slice 1 of Vichar101 :  Vichar
Slice 2 of Vichar101 : 101


**2. Explain the key features of lists in Python**

**Answer :**
1.List is ordered collection of Data.

2.It is very versetile form of storing the various type of data in python, we can store any type of data together like string, integer, float, boolean and other list etc.

3.we can perfom various operation in list like adding, removing, insering the elements using indexing and slicing of the list.

please refer below example codes for list and it's features;

In [ ]:
list_1 = ['Ferrari', 750, 36.79, True]
list_1.append("BMW") # here I added new string to list using append function of list datatype.
print(list_1)

['Ferrari', 750, 36.79, True, 'BMW']

In [ ]:
list_1.remove(750) # here I removed 750 from list using remove function of list datatype.
print(list_1)

['Ferrari', 36.79, True, 'BMW']

In [ ]:
list_1.insert(1,850) # here I inserted 850 at index 1 using insert function of list datatype.
print(list_1)

['Ferrari', 850, 36.79, True, 'BMW']

In [ ]:
list_1.reverse() # here I reversed the list using reverse function of list datatype.
print(list_1)

['BMW', True, 36.79, 850, 'Ferrari']

Similar as the above examples there are othe functions as we like pop, clear, copy, count, extend, index,sort ect.

**3.Describe how to access, modify, and delete elements in a list with examples**

**Answer :** see below codes

In [ ]:
# Accessing the elements : We can access elements of the list using the index of element.

list_1 = ['Ferrari', 750, 36.79, True]
print(list_1[0])
print(list_1[-1])

Ferrari
True

In [ ]:
#Modifying the element : we can modify the element using it's index.

list_1[0] = 'BMW'
print(list_1)

['BMW', 750, 36.79, True]

In [ ]:
# Deleting the element : we can delete element from list using del function, using remove method or using pop method.

In [ ]:
fruits = ['Apple', 'Banana', 'orange','Cherry','Blueberry']
del fruits[3]
print(fruits)

['Apple', 'Banana', 'orange', 'Blueberry']

In [ ]:
#Using remove method :
fruits = ['Apple', 'Banana', 'orange','Cherry','Blueberry']
fruits.remove('Apple')
print(fruits)

['Banana', 'orange', 'Cherry', 'Blueberry']

In [ ]:
#using pop method :
fruits = ['Apple', 'Banana', 'orange','Cherry','Blueberry']
fruits.pop(4)
print(fruits)

['Apple', 'Banana', 'orange', 'Cherry']

**4.Compare and contrast tuples and lists with examples**

**Answer :**

***Key Differences***

1.Mutability:

Lists are mutable; you can modify their content.

Tuples are immutable; once created, their content cannot be changed.

2.Syntax:

Lists use square brackets [ ].

Tuples use parentheses ().

3.Performance:

Tuples can be slightly faster than lists due to their immutability.

4.Use Cases:

Use lists when you need a collection of items that can change.

Use tuples when you need a collection of items that should remain constant.

***Similarities***

Both can store heterogeneous data types (e.g., integers, strings, objects).

Both support indexing and slicing.

Both can be nested (i.e., you can have lists of lists or tuples of tuples).


**Please refer below codes for example;**

In [ ]:
# Creating a list
fruits = ['apple', 'banana', 'cherry']

# Modifying a list
fruits[1] = 'blueberry'
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

# Adding an element
fruits.append('date')
print(fruits)  # Output: ['apple', 'blueberry', 'cherry', 'date']

# Removing an element
fruits.remove('cherry')
print(fruits)  # Output: ['apple', 'blueberry', 'date']

In [ ]:
# Creating a tuple
fruits = ('apple', 'banana', 'cherry')

# Accessing elements
print(fruits[1])  # Output: banana

# Trying to modify a tuple (will raise an error)
fruits[1] = 'blueberry'  # TypeError: 'tuple' object does not support item assignment

banana

TypeError: 'tuple' object does not support item assignment

**5.Describe the key features of sets and provide examples of their use**

**Answer :**

1. set is unordered collection of unique elements.
2. Duplicate valuse are not allowed in sets.
3. we can't access element of set using index.
4. set is represented by symbol {}.
5. we can convert any list which is containing duplicate values into sets to remove duplicate calues from it.
6. we can perform various mathematical set operations like union, intersaction, difference, Symetric difference.

*Please Refer below code for example of sets:*

In [ ]:
List = ["Tom", "Jerry", 1,2,3,3,2,1,"Jerry",2,1,2,"Jerry",1,"Tom"]  #here this list is containing lots of duplicate values in it, but we need only unique valuse so we will convert it into set.
set_1 = set(List)
print(set_1)
# output : {1, 2, 3, 'Jerry', 'Tom'}   Here we can see all duplicate values are removed.

{1, 2, 3, 'Jerry', 'Tom'}

In [ ]:
# Unioun operation

set_names = {"Raj", "Sihayi", "Vichar", "Sujal",99, "side"}
set_number = {101,512,99,"side",11.11}
union_set = set_names | set_number
print("Union of sets is : ", union_set)

# Intersectuon operation :

set_names = {"Raj", "Sihayi", "Vichar", "Sujal",99, "side"}
set_number = {101,512,99,"side",11.11}
intersaction_set = set_names & set_number
print("intersaction of sets is : ", intersaction_set)


# Difference :

difference_set_1 = set_names - set_number
difference_set_2 = set_number - set_names

print ("difference set 1 : ", difference_set_1)
print ("difference set 2 :", difference_set_2)

# Symetric difference :

symetric_difference_set = set_names ^ set_number
print("symetric set :", symetric_difference_set)

Union of sets is :  {512, 'side', 99, 101, 'Vichar', 'Sihayi', 11.11, 'Raj', 'Sujal'}
intersaction of sets is :  {'side', 99}
difference set 1 :  {'Sihayi', 'Sujal', 'Raj', 'Vichar'}
difference set 2 : {512, 11.11, 101}
symetric set : {512, 101, 'Vichar', 'Sihayi', 11.11, 'Raj', 'Sujal'}

In [ ]:
# Some other methods of sets

set_example = {512, 'side', 99, 101, 'Vichar', 'Sihayi', 11.11, 'Raj', 'Sujal'}
set_example.add("pho")
print(set_example) # output : {512, 'side', 99, 101, 'Vichar', 'pho', 'Sihayi', 11.11, 'Raj', 'Sujal'}

set_example.pop() #output : 512

set_example.remove("Raj")
print(set_example) # output : {'side', 99, 101, 'Vichar', 'pho', 'Sihayi', 11.11, 'Sujal'}

set_example.discard("512")
print(set_example) # output : {'side', 99, 101, 'Vichar', 'pho', 'Sihayi', 11.11, 'Sujal'}

{512, 'side', 99, 101, 'Vichar', 'pho', 'Sihayi', 11.11, 'Raj', 'Sujal'}
{'side', 99, 101, 'Vichar', 'pho', 'Sihayi', 11.11, 'Sujal'}
{'side', 99, 101, 'Vichar', 'pho', 'Sihayi', 11.11, 'Sujal'}

**6.Discuss the use cases of tuples and sets in Python programming**

**Answer :**

1. Tuples are immutable data collection of ordered elements, due to immutability tupleas are used to store data that doesn't needs to be changed thought the program. due to immutibility of sets it will take less space and speed to run the program is also more than list.
real life example for touple is if we have fixed menu of restaurant then we can use touple data structure to store all dishes because it is fixed menue, we don't want to change any thing.

2. sets are mutable data collection of unique unordered elements. set is use to store unique data which doesn't have any duplicate value in it. we can use various set mathematical operation to manupulate data for different needs and purposes.
Real life example of set is to store employee ID as we know employee id should be unique for each employee so we can use set here to store it to avoid duplication.

**7.Describe how to add, modify, and delete items in a dictionary with examples**

**Answer : ** see below code

In [ ]:
# adding the new value in dictionary

dict_1 = {"Lamborghini": "Huracan Tecnica", "Ferrari": "F8", "Maserati": "MC20", "Porsche":"911"}
dict_1.update({"McLaren":"Artura"})
print(dict_1)

{'Lamborghini': 'Huracan Tecnica', 'Ferrari': 'F8', 'Maserati': 'MC20', 'Porsche': '911', 'McLaren': 'Artura'}

In [ ]:
# modifying value in dictionary :

dict_1 = {"Lamborghini": "Huracan Tecnica", "Ferrari": "F8", "Maserati": "MC20", "Porsche":"911"}
dict_1["Ferrari"] = "SF90 Stradal"
print(dict_1)

{'Lamborghini': 'Huracan Tecnica', 'Ferrari': 'SF90 Stradal', 'Maserati': 'MC20', 'Porsche': '911'}

In [ ]:
#deleting the element in dictionary :

dict_1 = {"Lamborghini": "Huracan Tecnica", "Ferrari": "F8", "Maserati": "MC20", "Porsche":"911"}
del dict_1["Maserati"]
print(dict_1)

dict_1.pop("Lamborghini")
print(dict_1)

{'Lamborghini': 'Huracan Tecnica', 'Ferrari': 'F8', 'Porsche': '911'}
{'Ferrari': 'F8', 'Porsche': '911'}

**8. Discuss the importance of dictionary keys being immutable and provide example**

**Answer : **

In Python, dictionary keys must be immutable. This is crucial for several reasons:

**Hashability:** Dictionary keys need to be hashable, meaning their hash value should not change during their lifetime. Immutable objects like strings, numbers, and tuples have a fixed hash value, making them suitable as dictionary keys.

**Consistency:** If dictionary keys were mutable, their values could change, leading to inconsistencies in the dictionary. For example, if a key's value changes, the dictionary might not be able to find the key again, causing errors.

**Performance:** Immutable keys ensure that the dictionary's internal structure remains stable, allowing for efficient lookups, insertions, and deletions.

Here's an example to illustrate this:

In [ ]:
Dict_new = {"Name" : "Tushar", 24 : "Age", (1,2): "Key as touple"}
Dict_new["Name"] # output : Tushar ---> because string is immutable key, so hash value is consistant and will not through any error.
Dict_new[24]   # output : Age ----> because integer is immutable key, so hash value is consistant and will not through any error.
Dict_new[(1,2)]  # output : Key as touple ----> because Tuple is immutable key, so hash value is consistant and will not through any error.

'Key as touple'

In [ ]:
Dict_new = {"Name" : "Tushar", 24 : "Age", [1,2]: "Key as touple"}
Dict_new[[1,2]] # output : TypeError: unhashable type: 'list' ---> Because list is mutable key, so hash value is changable not consistent thats why it will through error.

TypeError: unhashable type: 'list'

In this example, strings, numbers, and tuples are used as keys, demonstrating their immutability and suitability for dictionary keys. Attempting to use a list (which is mutable) as a key results in a TypeError. This ensures the dictionary remains reliable and efficient.